- if flash[:notice]
  %p= flash[:notice]
-if session[:user_info]
  - session[:user_info].each do |user_info|
    = image_tag user_info["profile_image_url"], size: "80x80" , id:user_info["id"]

= form_with url: home_add_account_path, local: true do |f|
  = f.radio_button :type, "twitter", id:"type_twitter" , checked: true
  = f.label "twitter", for:"type_twitter"

  = f.radio_button :type, "misskey", id:"type_misskey"
  = f.label "misskey", for:"type_misskey"

  = f.submit value: "認証"
